/* Footer */
.attribution {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 11px;
  }
  
  .attribution__link {
    color: hsl(228, 45%, 54%);
    text-decoration: underline;
  }
  .contact-info__item {
    padding-bottom: 10%;
  }
  
  .footer-logo {
    padding: 5% 3% 0;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }
  
  .footer-main {
    display: flex;
    justify-content: space-around;
  }
  .footer-nav {
    display: grid;
  }
  .footer-nav__menu {
    padding-bottom: 8%;
  }
  
  .site-footer {
    background-color: hsl(243, 87%, 12%);
    color: #fff;
    overflow: hidden;
  }
  
  .social-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 5%;
  }
  
  .social-menu__link {
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 1.25rem;
    width: 2.25rem;
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    display: inline-block;
  }